<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cangjie.scale.sorting">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name=".base.ScaleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cangjie.frame.core.DialogActivity"
            android:screenOrientation="landscape"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".ui.CheckActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.CheckedDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.task.TaskListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.purchase.PurchaseActivity"
            android:screenOrientation="landscape" />

        <service android:name=".service.InitService" />
        <receiver
            android:name=".service.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.cangjie.frame.kit.update.activity.UpdateBackgroundActivity" />
        <activity
            android:name="com.cangjie.frame.kit.update.activity.ThemeActivity"
            android:theme="@style/DialogActivityTheme" />

        <service android:name="com.cangjie.frame.kit.update.service.UpdateService" />
        <service android:name="com.cangjie.frame.kit.update.utils.DownloadService" />

        <provider
            android:name="com.cangjie.frame.kit.update.utils.InstallFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/install_file" />
        </provider>
    </application>

</manifest>